body {
    background-color: rgb(241, 241, 241);
}

.photos {
    text-align: center;
    padding: 50px 50px;
}

.stitched {
    padding: 10px;
    margin: 10px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ffffff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #ffffff;
    font-weight: normal;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    cursor: pointer;
 }

h1 {
    
    font-size: 45px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 50;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-weight: 50;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    width: 425px;
    margin: 0 auto;
    font-family: 'Old Standard TT', serif;
    font-weight: 20px;
}

.info {
    text-align: center;
    width: 350px;
    margin: 0 auto;
    font-family: 'Old Standard TT', serif;
    font-weight: 20px;
}

.dropbtn {
    background-color: rgb(241, 241, 241);
    color: rgb(110, 109, 109);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #a3a3a3;}